/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
}

/* Menu lateral */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

/* Área de destaque */
.highlight {
    background-color: #ffdd99;
    padding: 40px;
    text-align: center;
}

/* Serviços principais */
.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}

.service {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilos para o cabeçalho e o menu */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
}

.menu {
    text-align: right; /* Alinha o menu à direita */
}

.menu ul {
    list-style: none;
    padding: 30px;
    margin: 0; /* Remove margem padrão da lista */
}

.menu ul li {
    display: inline-block;
    margin-left: 20px;
}

.menu ul li:first-child {
    margin-left: auto; /* Move o primeiro item para a direita */
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
